h1  {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: whitesmoke;
  font-weight: lighter;
}
label {
  color: whitesmoke;
  font-weight: lighter;
  font-family: sans-serif;
}

body {
  background-image: url("../img/starrySky.jpg");
  background-size: cover;
  background-repeat: no-repeat;
} 

#output {
  color: gold;
}